[package]
name = "mesh-cni-common"
version = "0.1.0"
edition.workspace = true

license.workspace = true

[features]
default = []
user = ["aya"]

[dependencies]
aya = { workspace = true, optional = true }
network-types = { workspace = true }

[lib]
path = "src/lib.rs"
