name: container
on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main
    tags:
    - '*'
permissions:
  contents: read
  packages: write
jobs:
  docker:
    runs-on: mesh-cni-runners
    # TODO: fix for proper multirunner build
    # strategy:
    #   fail-fast: true
    #   matrix:
    #     platform:
    #       - linux/amd64
    #       - linux/arm64
    steps:
      - uses: actions/checkout@v4
      - name: Prepare
        run: |
          platform=${{ matrix.platform }}
          echo "PLATFORM_PAIR=${platform//\//-}" >> $GITHUB_ENV
      # - name: set up docker
      #   uses: docker/setup-docker-action@v4
      #   with:
      #     daemon-config: |
      #       {
      #         "debug": true,
      #         "features": {
      #           "containerd-snapshotter": true
      #         }
      #       }

      # - name: Install QEMU
      #   run: |
      #     sudo apt-get update
      #     sudo apt-get install -y qemu-user-static
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3
      - name: Login to GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build and push latest
        if: github.event_name == 'pull_request'
        uses: docker/build-push-action@v6
        with:
          push: false
          #platforms: linux/amd64 #,linux/arm64
          platforms: linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:latest
      - name: Build and push tag
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64 #,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
      - name: Build and push latest
        if: github.ref == 'refs/heads/main'
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:latest
      - name: Build and push tag
        if: startsWith(github.ref, 'refs/tags/')
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64 #,linux/arm64
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.ref_name }}
